<!doctype html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Transit by TEMPLATED</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]
		<script src="{% static "js/jquery.min.js" %}"></script>
		<script src="{% static "js/skel.min.js" %}"></script>
		<script src="{% static "js/skel-layers.min.js" %}"></script>
		<script src="{% static "js/init.js" %}"></script>
		<noscript> -->
			<link type="text/css" rel="stylesheet" href="{% static "css/skel.css" %}" />
			<link type="text/css" rel="stylesheet" href="{% static "css/style.css" %}" />
			<link type="text/css" rel="stylesheet" href="{% static "css/style-xlarge.css" %}" />
		<!--</noscript>  -->
	</head>

	<body>
    <!-- Header -->
			<header id="header">
				<h1><a href="http://140.113.216.42:7999/index">CM</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="http://140.113.216.42:7999/index">Home</a></li>
					</ul>
				</nav>
			</header>
  <section id="main" class="wrapper">
    <div class="container">
      <header class="major">
        <h2>Info.</h2>
        <p>Filling the information</p>
      </header>
    </div>
    <div class="container 50%">
      <form action="http://140.113.216.37/signal/statisticsUserSelect" method="get">
        <div class="row uniform">
						<div class="12u$">
							<h3>*useraccount：</h3>
              <input type="text" required id="useraccount" name="useraccount" value="" maxlength=30 />
            </div>

						<div class="12u$">
              <input type="radio" id="cell" name="type" value="cell" >
              <label for="cell"><h3>Cell</h3></label>
            </div>
            <div class="12u$">
              <input type="radio" id="application" name="type" value="application" >
              <label for="application"><h3>Application</h3></label>
            </div>
            <div class="12u$">
              <input type="radio" id="battery" name="type" value="battery" >
              <label for="battery"><h3>Battery</h3></label>
            </div>
            <div class="12u$">
              <input type="radio" id="ram" name="type" value="ram" >
              <label for="ram"><h3>RAM</h3></label>
            </div>
            <div class="12u$">
              <input type="radio" id="cpu" name="type" value="cpu" >
              <label for="cpu"><h3>CPU</h3></label>
            </div>
            <div class="12u$">
              <input type="radio" id="move" name="type" value="move" >
              <label for="move"><h3>Move</h3></label>
            </div>
            <div class="12u$">
              <input type="radio" id="map" name="type" value="map" >
              <label for="map"><h3>map</h3></label>
            </div>

						<div class="12u$">
                <input type="submit" value="OK">
            </div>
            <div class="12u$">
                <a href="http://140.113.216.42:7999/index/statisticsPage" class="button">Back</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>

	<!--error message -->
	<script>
    var createAllErrors = function() {
        var form = $( this ),
            errorList = $( "ul.errorMessages", form );

        var showAllErrorMessages = function() {
            errorList.empty();

            // Find all invalid fields within the form.
            var invalidFields = form.find( ":invalid" ).each( function( index, node ) {

                // Find the field's corresponding label
                var label = $( "label[for=" + node.id + "] "),
                    // Opera incorrectly does not fill the validationMessage property.
                    message = node.validationMessage || 'Invalid value.';

                errorList
                    .show()
                    .append( "<li><span>" + label.html() + "</span> " + message + "</li>" );
            });
        };

        // Support Safari
        form.on( "submit", function( event ) {
            if ( this.checkValidity && !this.checkValidity() ) {
                $( this ).find( ":invalid" ).first().focus();
                event.preventDefault();
            }
        });

        $( "input[type=submit], button:not([type=button])", form )
            .on( "click", showAllErrorMessages);

        $( "input", form ).on( "keypress", function( event ) {
            var type = $( this ).attr( "type" );
            if ( /date|email|month|number|search|tel|text|time|url|week/.test ( type )
              && event.keyCode == 13 ) {
                showAllErrorMessages();
            }
        });
    };

    $( "form" ).each( createAllErrors );
	</script>

  </body>
</html>
